input, button, textarea {
    outline: none;
}

.admin-body {
    padding-left: 18.75%;
    margin-top: 3%;
}

.page-module {
    @extend %drop-shadow;
    background: $white;
    padding: 4% 6.25%;
    margin-top: 3%;
}

.module {
    margin-top: 3%;
    min-height: 70em;
}

.pagination {
    clear: both;

    li {
        @extend %drop-shadow-small;
        display: inline-block;
        background-color: $adminRed1;
        font-size: 1.4em;
        margin-right: 1em;

        a {
            display: inline-block;
            color: $white;
            text-decoration: none;
            padding: 1em;
        }

        &:active {
            margin-top: 2px;
            margin-left: 2px;
            box-shadow: 1px 1px 0px 0px rgba(50, 50, 50, 0.5) !important;
        }
    }

    .active {
        background-color: $adminRedActive;
    }
}

input {
    line-height: normal;
    border: none;
    border-bottom: 1px solid $adminGray;
    width: 40%;
    font-size: 1.8em;
    margin-bottom: 1.5em;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

label {
    font-size: 1.4em;

    &:before, &:after {
        content: '';
        display: table;
    }

    &:after {
        clear: both;
    }
}

.dashboard-time {
    display: inline-block;
    float: right;

    .date {
        font-size: 3em;
        width: 78%;
        text-align: right;
        line-height: 1.5em;
    }
}

.settings-hours-container {
    margin: 1em 1em 4em 1em;

    .settings-hour {
        margin-bottom: 0.5em;
        max-height: 4em;

        .hours-day {
            display: inline-block;
            min-width: 6em;
            font-size: 1.4em;
        }

        .hours-inputs {
            display: inline;
            margin-right: 1em;

            input {
                width: 6%;
                text-align: center;
            }
        }

        .hours-to {
            display: inline-block;
            margin-right: 1em;
            font-size: 1.4em;
        }

        .hours-closed {
            display: inline-block;

            input {
                margin-left: 0.45em;
            }
        }
    }
}

.settings-modules {
    position: absolute;
    margin: 4%;
    top: 0;
    right: 0;
}

.bootstrap-tagsinput {
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid $adminGray;
    box-shadow: none;
    min-height: 5em;
    width: 40%;

    input {
        margin-top: 0.5em;
    }

    .label-info {
        background-color: $adminRed1;
        font-size: 1.8em;
        padding: 0.5em 0.6em 0.6em 1em;
    }
}

.bootstrap-switch.bootstrap-switch-small {
    min-width: 67px;
}

.bootstrap-switch {
    float: right;
}

.fc-view-container {
    background-color: $white;
    @extend %drop-shadow;

    .fc-event {
        position: relative;
        display: block;
        font-size: .85em;
        line-height: 2;
        border-radius: 0;
        border: 1px solid #ff5e5e;
        background-color: #ff5e5e;
        font-weight: normal;
    }
}

.fc .fc-button-group > * {
    margin: 0 0 0 1em;
    @extend %drop-shadow;
}

.fc-state-default {
    background-color: $adminRed1;
    background-image: none;
    background-repeat: none;
    border-color: inherit;
    color: $white;
    text-shadow: inherit;
    box-shadow: inherit;
}

.fc-state-default.fc-corner-right {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.fc-state-default.fc-corner-left {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.fc-widget-header {
    color: $white;
    background-color: $adminGray;
}

.booking-module, .customer-module {
    background-color: $white;
    @extend %drop-shadow;
    margin-bottom: 2em;

    .booking-name, .booking-time, .booking-date, .booking-buttons, .customer-buttons, .customer-name, .customer-email, .customer-phone {
        display: inline-block;
    }

    .booking-name, .booking-time, .booking-date, .customer-name, .customer-email, .customer-phone {
        font-size: 1.8em;
        padding: 0.75em 1.5em;
    }
}

.dashboard-module {
    background-color: $white;
    @extend %drop-shadow;
    margin-bottom: 4em;
    padding: 3em 3em 3em 15em;
    font-size: 1.4em;
    position: relative;

    &:before{
        content: "";
        width: 10em;
        background-color: $adminRed2;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}

