//
// Page: Nav
// ---------------------------
.header-nav {
	background-color: $adminRed1;

	.nav-item {
		@extend %transition-all-slow;

		&:hover {
			background-color: $adminRedActive;
		}
	}

	.active {
		background-color: $adminRedActive;
	}

	#header-logo {
		background-color: $adminRed2;
		background-image: url(../images/logo.svg);
		background-size: 70%;
  		background-repeat: no-repeat;
  		background-position: 80% 170%;
	}

	#header-dashboard {
		background-image: url(../images/dashboard.svg);
		background-size: 80%;
  		background-position: 50% 40%;
	}

	#header-calendar {
		background-image: url(../images/calendar.svg);
		background-size: 80%;
  		background-position: 50% 40%;
	}

	#header-customers {
		background-image: url(../images/customers.svg);
		background-size: 80%;
  		background-position: 50% 40%;
	}
}

#nav-left {
	height: 100%;
	position: absolute;
	background-color: $adminGray;
	@extend %transition-all-slow;

	li {
		position: relative;
		width: 100%;
		@extend %transition-all-slow;

		&:hover {
			background-color: $adminGrayActive;
		}

		.nav-left-item {
			a {
				color: $white;
				font-size: 1.4em;
				text-decoration: none;
				padding: 16.666% 25%;
				display: inline-block;

				span {
					position: relative;
					top: -0.3em;
				}
			}
		}
	}

	.active {
		background-color: $adminGrayActive;
	}
}