//
// Page: Home
// ---------------------------
.splash-container {
	position: relative;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	overflow: hidden;

	#canvas {
		display: block;
	}

	.splash-headline {
		position: absolute;
		left: 0;
		top: 16%;
		background: $yellow;
		padding: 0.5em 2em 0.5em 2.5%;
	}

	.splash-arrow {
		position: absolute;
		bottom: 20px;
		left: 50%;
		width: 150px;
		height: 75px;
		margin-left: -65px;
		text-align: center;
		cursor: pointer;

		.arrow-container {
			position: relative;
			width: 100%;
			height: 100%;

			span {
				position: absolute;
				width: 85px;
				height: 3px;
				top: 26px;
				left: 0;
				background: #ffd100;
				-ms-transform: rotate(35deg);
				-webkit-transform: rotate(35deg);
				transform: rotate(35deg);
				content: '';

				&:after {
					top: -40px;
					left: 56px;
					-ms-transform: rotate(110deg);
					-webkit-transform: rotate(110deg);
					transform: rotate(110deg);
					position: absolute;
					width: 85px;
					height: 3px;
					background: #ffd100;
					content: '';
				}
			}
		}
	}
}