
<div class="body-content">
    <div class="container">
        <div class="header-image"><img src="./images/about_bg2.jpg"></div>
        <div class="body-text">
            <p>{{{body}}}</p>
        </div>
    </div>
</div>