<div class="body-content">
    <h1>Online booking</h1>

    <br>
    <p>Date: <input type="text" id="datepicker"></p>

    <div class="module">
        <h1>Available Times</h1>
        <select>
            <option disabled selected value="">Select Time</option>
            {{#each times}}
            <option value="{{this}}">{{this}}:00</option>
            {{/each}}
        </select>
    </div>
   
    <buton>Next</button>

</div>