<div class="body-content">
    <br>
    <div class="col-xs-12 col-md-6">
        <h1>Info</h1>
        <p>Faded Society BarberShop</p>
        <p>212 E. Main Sreet, Alhambra</p>
        <p><a href="tel:6266445872">(626) 644-5872</a></p>
        <span>Hours:</span>
        <ul>
            <li>Saturday: 10:00 am - 7:00pm</li>
            <li>Sunday: Closed</li>
            <li>Monday: Closed</li>
            <li>Tuesday: 10:00 am - 7:00pm</li>
            <li>Wednesday: 10:00 am - 7:00pm</li>
            <li>Thursday: 10:00 am - 7:00pm</li>
            <li>Friday: 10:00 am - 7:00pm</li>
        </ul>

        <div id="map-canvas" style="height: 300px"></div>
    </div>
    <form class="col-xs-12 col-md-6" id="form">
        <h1>Online booking</h1>
        <label>Name<span style="color:#ff0000;">*</span>:</label>
        <input type="text" class="form-control" name="title" placeholder="Enter Name" id="form-title" required>
        <br>
        <label>Date<span style="color:#ff0000;">*</span>:</label>
        <input type="text" class="form-control" id="form-date" name="date" placeholder="Enter Date" required>
        <br>
        <label>Time<span style="color:#ff0000;">*</span>:</label>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <select name="time" id="form-time" class="form-control" required>
                    
                </select>
            </div>
        </div>
        <br>
        <label>Service<span style="color:#ff0000;">*</span>:</label>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <select name="service" id="form-service" class="form-control" required>
                    <option disabled selected value="">Select Service</option>
                    <option value="haircut">Haircut</option>
                    <option value="shave">Shave</option>
                    <option value="haircutShave">Haircut + Shave</option>
                    <option value="cleanup">Clean-up</option>
                    <option value="childrens">Children</option>
                </select>
            </div>
        </div>
        <br>
        <label>E-mail<span style="color:#ff0000;">*</span>:</label>
        <input type="email" class="form-control" id="form-email" name="email" placeholder="Enter E-mail" required>
        <br>
        <label>Phone<span style="color:#ff0000;">*</span>:</label>
        <input type="tel" class="form-control" id="form-phone" name="phone" placeholder="Enter Phone" required>
        <br>
        <label>Special Requests:</label>
        <textarea class="form-control" id="form-requests" rows="5" cols="10" name="request" id="update-content"></textarea>
        <br>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <button type="submit" class="btn btn-success">Create Appointment</button>
                <div id="message"></div>
            </div>
        </div>
    </form>
</div>