<div class="body-content">
   <h1>Online booking</h1>

   <button>Booket!</button>

   <p>Date: <input type="text" id="datepicker"></p>
   <p>Date: <input type="date"></p>

   <p>© 2015 greg carr</p>
</div>