<div class="admin-body">
    <style>
        .fc-event{
            cursor: pointer;
        }
    </style>
    <div id="calendar"></div>
</div>

<script>

$(document).ready(function() {
    $('#calendar').fullCalendar({
        eventSources: [
            {
                url: '/{{user.name}}/events',
                type: 'GET'
            }
        ],
        eventClick: function(event) {
            console.log(event._id);
            window.location.href = '/admin/calendar-item/' + event._id;
        }
    });
});

</script>