<div class="admin-body">
    <style>
        .fc-event{
            cursor: pointer;
        }

        .fc-today-button {
            -webkit-box-shadow: 3px 3px 0px 0px rgba(50, 50, 50, 0.2) !important;
            -moz-box-shadow: 3px 3px 0px 0px rgba(50, 50, 50, 0.2) !important;
            box-shadow: 3px 3px 0px 0px rgba(50, 50, 50, 0.2) !important;
        }

        .fc button {
            height: 3.1em;
            padding: 0 1em;
            text-transform: capitalize;
            font-size: 1.4em;
        }

        .fc .fc-button-group > * {
            margin: 0 0 0 1em;
            -webkit-box-shadow: 3px 3px 0px 0px rgba(50, 50, 50, 0.2);
            -moz-box-shadow: 3px 3px 0px 0px rgba(50, 50, 50, 0.2);
            box-shadow: 3px 3px 0px 0px rgba(50, 50, 50, 0.2);
        }

        .fc-state-down {
            top: 2px;
            left: 2px;
            box-shadow: 1px 1px 0px 0px rgba(50, 50, 50, 0.2) !important;
        }

        .fc-state-default {
            background-color: #ff5e5e;
            background-image: none;
            background-repeat: none;
            border: none;
            color: #fff;
            text-shadow: inherit;
            box-shadow: inherit;
        }

        .fc-state-default.fc-corner-right {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        .fc-state-default.fc-corner-left {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }

        .fc-widget-header {
            color: #fff;
            background-color: #333;
        }

        .fc-day {
            cursor: pointer;
        }

        .fc-day:hover {
            background-color: #f9f9f9;
        }
    </style>
    <div class="col col-15">
        <div id="calendar"></div>
    </div>
</div>

<script>

$(document).ready(function() {
    $('#calendar').fullCalendar({
        eventSources: [
            {
                url: '/{{userId}}/events',
                type: 'GET'
            }
        ],
        eventClick: function(event) {
            window.location.href = '/admin/calendar-item/' + event._id;
        },
        dayClick: function(date) {
            window.location.href = '/admin/calendar-item/add_new/'+ date._d;
        }
    });
});

</script>