<div class="admin-body">
    <div class="row">
        <h2>Add New Appointment</h2>
    </div>
    
    <div class="page-module col col-12">
        <div>
            <p><span style="color:#ff0000">*</span> = Required</p>
        </div>
        <form method="post" action="/admin/calendar-item">
            <label>Name<span style="color:#ff0000;">*</span>:</label>
            <input type="text" class="form-control" name="title" placeholder="Enter Name" required>
            <br>
            <label>Date<span style="color:#ff0000;">*</span>:</label>
            <input type="text" class="form-control" id="datepicker" name="date" value="{{date}}" required>
            <br>
            <label>Time<span style="color:#ff0000;">*</span>:</label>
            <div class="row">
                <select name="time" id="posttype" class="form-control" required>
                    <option disabled selected value="">Select Time</option>
                    <option value="10">10:00am</option>
                    <option value="11">11:00am</option>
                    <option value="12">12:00pm</option>
                    <option value="13">1:00pm</option>
                    <option value="14">2:00pm</option>
                    <option value="15">3:00pm</option>
                    <option value="16">4:00pm</option>
                    <option value="17">5:00pm</option>
                    <option value="18">6:00pm</option>
                    <option value="19">7:00pm</option>
                </select>
            </div>
            <br>
            <label>Service<span style="color:#ff0000;">*</span>:</label>
            <div class="row">
                <select name="service" id="posttype" class="form-control" required>
                    <option disabled selected value="">Select Service</option>
                    {{#each services}}
                    <option {{#equalsTo ../calendar.service this}}selected{{/equalsTo}} value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
            <br>
            <label>E-mail<span style="color:#ff0000;">*</span>:</label>
            <input type="email" class="form-control" name="email" placeholder="Enter E-mail" required>
            <br>
            <label>Phone<span style="color:#ff0000;">*</span>:</label>
            <input type="tel" class="form-control" name="phone" placeholder="Enter Phone" required>
            <br>
            <label>Special Requests:</label>
            <textarea class="form-control" rows="5" cols="100" name="request" id="update-content"></textarea>
            <br>
            <div class="row">
                <button type="submit" class="btn btn-success btn-medium">Create</button>
                <button class="btn btn-danger btn-medium"><a href="/admin/calendar-item">Cancel</a></button>
            </div>
        </form>
    </div>
</div>

<script>
    $(function() {
        $( "#datepicker" ).datepicker();
    });
</script>