<!doctype html>
<html>
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" href="{{assetsUrl}}css/styles.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.2/fullcalendar.css">
	<link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap2/bootstrap-switch.min.css">
	<style>
		html, body {
			background-color: #efede5;
		}
	</style>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.2/fullcalendar.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.2/gcal.js"></script>
	<script src="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js"></script>
</head>
<body>
<div class="admin-container">

	<div class="row header-nav">
		<div class="col col-2 square nav-item" id="header-logo"></div>
		<div class="col col-2 square nav-item {{#equalsTo title "Dashboard"}} class="active"{{/equalsTo}}" id="header-dashboard"><a href="/admin/dashboard"></a></div>
		<div class="col col-2 square nav-item {{#equalsTo title "Calendar"}} class="active"{{/equalsTo}}" id="header-calendar"><a href="/admin/calendar-item"></a></div>
		<div class="col col-2 square nav-item {{#equalsTo title "Customers"}} class="active"{{/equalsTo}}" id="header-customers"><a href="/admin/customers"></a></div>
	</div>

	<div class="row">
		<div class="col col-2" id="nav-left">
			<ul>
				<li{{#equalsTo title "Calendar"}} class="active"{{/equalsTo}}>
					<div class="nav-left-item table">
						<a href="/admin/bookings">Bookings</a>
					</div>
				</li>
				<li{{#equalsTo title "Calendar"}} class="active"{{/equalsTo}}>
					<div class="nav-left-item table">
						<a href="/admin/settings">Settings</a>
					</div>
				</li>
				<li{{#equalsTo title "Calendar"}} class="active"{{/equalsTo}}>
					<div class="nav-left-item table">
						<a href="/admin/account">Account</a>
					</div>
				</li>
				<li{{#equalsTo title "Calendar"}} class="active"{{/equalsTo}}>
					<div class="nav-left-item table">
						<a href="/logout">Logout</a>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="body-container">
		{{{body}}}
	</div>

		<script>
        window.onload = function() {
            $('.btn-warning').on('click', function(evt) {
                 if (!confirm('Are you sure?')) evt.preventDefault();
            });
        }
        </script>
</body>
</html>