<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>gcdev</title>
        {{>meta}}
        <link rel="stylesheet" href="{{assetsUrl}}css/styles.css">
    </head>
    <body>

        {{{body}}}

        <div id="fb-root"></div>

        <script type="text/javascript">
            window.assetsUrl = '{{assetsUrl}}';
        </script>
        <script src="{{assetsUrl}}js/main.js" defer></script>

    </body>
</html>



