//
// Buttons
// ---------------------------

button {
    background-color: transparent;
    border: none;
    padding: 0;
    text-decoration: none;
    float: left;
}

.btn {
   

    &:hover {}

    &:focus {}

    &.active,
    &:active {}

    &.disabled,
    &[disabled] {}

}


