//
// Buttons
// ---------------------------

button {
    background-color: transparent;
    border: none;
    padding: 0;
    text-decoration: none;
    float: left;
}

.btn {
   

    &:hover {}

    &:focus {}

    &.active,
    &:active {}

    &.disabled,
    &[disabled] {}

}

.btn-success {
    padding: 1.5em 3em;
    background-color: #66cc99;
    color: #fff;
    font-size: 1.8em;
}


