//
// Buttons
// ---------------------------

button {
    background-color: transparent;
    border: none;
    padding: 0;
    text-decoration: none;
    float: left;
}

.btn {
    color: $white;

    &:hover {}

    &:focus {}

    &.active,
    &:active {}

    &.disabled,
    &[disabled] {}

    a {
        color: $white;
        text-decoration: none;
    }

}

.btn-large {
    padding: 1.5em 3em;
    font-size: 1.8em;
}

.btn-medium {
    font-size: 1.8em;
    padding: 0.75em 1.5em;
}

.btn-success {
    background-color: $btnSuccess;
}

.btn-primary {
    background-color: $btnPrimary;
}

.btn-danger {
    background-color: $btnDanger;
}