//
// Header
// ---------------------------

.header {
    @extend %transition-all-super-slow;
    position: relative;
    width: 100%;
    height: 75px;
    top: 0;
    left: 0;
    background: $gray;

    .menu-is-open & {
        left: -300px;
    }
}

.nav-container {
    width: 95%;
    margin: 0 auto;

    .nav-logo {
        position: relative;
        width: 300px;
        height: 100%;
        float: left;
        font-size: 4em;
        color: $white;
        line-height: 70px;
        font-family: "CenturyGothicReg", Arial, sans-serif;
        letter-spacing: -2px;
        a {
            color: $white;
            text-decoration: none;
        }
        span {
            color: $yellow;
        }
    }
}