<div class="admin-body">
    <div class="row-fluid">
        <h2>Welcome, {{user.name}}!</h2>

        <div class="dashboard-module">
            <p>You have {{appointmentCounter}} appointment(s) today. See all <a href="/admin/bookings">bookings</a>.</p>
        </div>
        

    </div>
</div>
